In [4]:
# Ques 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

test1 = "This is a test of the emergency text system,"
filee = open('test.txt','w')
filee.write(test1)

44

In [5]:
# Ques 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?


file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

In [6]:
if test1==test2:
    print('Both are same')

Both are same

In [7]:
#Ques 3. Create a CSV file called books.csv by using these lines: title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992


import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [8]:
# Ques 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).


import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [9]:
# Ques 5. Read books.csv and insert its data into the book table.


import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

In [10]:
#Ques 6. Select and print the title column from the book table in alphabetical order.


c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [11]:
# Ques 7. From the book table, select and print all columns in the order of publication.


c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [13]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\divya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 435.7 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.1 MB 1.5 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 2.5 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 3.7 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 4.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 4.2 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 4.1 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 4.1 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 4.1 MB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.8 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
   ---------------------------------------- 0.0/292.8 kB ? eta -:--:--
   ---------------------------------------  286.7/292.8 kB 8.9 MB/s eta 0:00:01
   ---------------------------------------  286.7/292.8 kB 8.9 MB/s eta 0:00:01
   ---------------------------------------- 292.8/292.8 kB 2.3 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.30
Note: you may need to restart the kernel to use updated packages.

In [14]:
# Ques 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.


import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

AttributeError: 'Engine' object has no attribute 'execute'